@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');


* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color: whitesmoke;
    font-family: "QuickSand", sans-serif;
    font-optical-sizing: auto;
}